<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <!-- <link href="./resources/css/style.css" rel="stylesheet"> -->
    <link href="/static/style.css" rel="stylesheet">
    <script src = "/static/public.js" type = "text/javascript"/></script>
</head>
<body>
    <div class="container">
        <div class="row1">
            <div class="colConnect">
                <p>
                    <button id="ButtonConnect" class="buttonConnect" onclick = "connect()" type="button" value=""> 
                        Click to connect
                    </button> 
                </p>
            </div>
        </div>
        <div class="row2">
            <div id="Red" class="colRed" >
            </div>
            <div id="Green" class="colGreen">
            </div>
        </div>
        <div class="row2">
            <div id="Blue" class="colBlue">
            </div>
            <div id="Yellow" class="colYellow">
            </div>
        </div>  
    </div>
</body>