html{
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container1 {
    width:100%;
    height: 10vh;
    border:0px solid;
    margin: 0 auto;
    padding:0px;

    display:flex;
    align-items:left;
    justify-content:left;
    font-size:8vh;
    font-family:sans-serif;
}
.container2 {
    width:100%;
    height: 20vh;
    border:0px solid;
    margin: 0 auto;
    padding:0px;
    display: flex;
}
.container3 {
    margin: auto auto;
    width: 100vw;
    height: 70vh;
    padding-top:2%;
}
.Red {
    width:100%;
    height:25%;
    border:0px solid;
    margin: 0 auto;
    padding:0px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.Blue {
    width:100%;
    height:25%;
    border:0px solid;
    margin: 0 auto;
    padding:0px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.Green {
    width:100%;
    height:25%;
    border:0px solid;
    margin: 0 auto;
    padding:0px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.Yellow {
    width:100%;
    height:25%;
    border:0px solid;
    margin: 0 auto;
    padding:0px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.button {
    color: white;
    background-color: red;
    padding-bottom: 2vh;
    padding-top: 2vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    cursor: pointer;
    width:100%;
    height:100%;
  }
 