html{
    background-color:rgb(0, 0, 0);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container {
    /* background-color: rgb(255, 255, 255); */
    margin: auto auto;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.colRed {
    border:0px solid red;  
    background-color: rgb(255, 0, 0);
    border-radius:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 50vw;
    height: 50vh;
    font-size:10em;
    font-family:sans-serif;
    color:white;
}
.colBlue {
    border:0px solid blue;  
    background-color: rgb(0, 0, 255);
    border-radius:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 50vw;
    height: 50vh;
    font-size:10em;
    font-family:sans-serif;
    color:white;
}
.colGreen {
    border:0px solid green;  
    background-color: rgb(0, 255, 0);
    border-radius:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 50vw;
    height: 50vh;
    font-size:10em;
    font-family:sans-serif;
    color:white;
}
.colYellow {
    border:0px solid rgb(255, 145, 2);;  
    background-color: rgb(255, 145, 2);
    border-radius:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 50vw;
    height: 50vh;
    font-size:10em;
    font-family:sans-serif;
    color:white;
}
