[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "==0.9.0"
apipkg = "==1.5"
astroid = "==2.4.2"
astunparse = "==1.6.3"
atomicwrites = "==1.4.0"
attrs = "==20.1.0"
backcall = "==0.2.0"
cachetools = "==4.1.1"
certifi = "==2020.6.20"
chardet = "==3.0.4"
click = "==8.0.1"
colorama = "==0.4.3"
debugpy = "==1.4.1"
decorator = "==5.0.9"
entrypoints = "==0.3"
execnet = "==1.7.1"
gast = "==0.3.3"
google-auth = "==1.20.1"
google-auth-oauthlib = "==0.4.1"
google-pasta = "==0.2.0"
grpcio = "==1.31.0"
h5py = "==2.10.0"
idna = "==2.10"
iniconfig = "==1.0.1"
ipykernel = "==6.2.0"
ipython = "==7.27.0"
isort = "==4.3.21"
itsdangerous = "==2.0.1"
jedi = "==0.18.0"
joblib = "==0.16.0"
jupyter-client = "==7.0.1"
jupyter-core = "==4.7.1"
kiwisolver = "==1.2.0"
lazy-object-proxy = "==1.4.3"
matplotlib = "==3.3.0"
matplotlib-inline = "==0.1.2"
mccabe = "==0.6.1"
more-itertools = "==8.4.0"
nest-asyncio = "==1.5.1"
numpy = "==1.18.5"
oauthlib = "==3.1.0"
opt-einsum = "==3.3.0"
pandas = "==1.1.0"
parso = "==0.8.2"
pep8 = "==1.7.1"
pickleshare = "==0.7.5"
pluggy = "==0.13.1"
progress = "==1.5"
prompt-toolkit = "==3.0.20"
protobuf = "==3.12.4"
py = "==1.9.0"
py-notifier = "==0.3.0"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycodestyle = "==2.6.0"
pylint = "==2.5.3"
pyparsing = "==2.4.7"
pypiwin32 = "==223"
pytest = "==6.0.1"
pytest-cache = "==1.0"
pytest-mock = "==3.3.1"
pytest-pep8 = "==1.0.6"
python-dateutil = "==2.8.1"
pytz = "==2020.1"
pywin32 = "==300"
pyzmq = "==22.2.1"
requests = "==2.25.1"
requests-oauthlib = "==1.3.0"
rsa = "==4.6"
scikit-learn = "==0.23.2"
scipy = "==1.4.1"
six = "==1.15.0"
sklearn = "==0.0"
tensorboard = "==2.3.0"
tensorboard-plugin-wit = "==1.7.0"
tensorflow = "==2.3.0"
tensorflow-estimator = "==2.3.0"
termcolor = "==1.1.0"
threadpoolctl = "==2.1.0"
toml = "==0.10.1"
tornado = "==6.1"
traitlets = "==5.0.5"
urllib3 = "==1.25.10"
wcwidth = "==0.2.5"
win10toast = "==0.9"
wrapt = "==1.12.1"
yahoo-fin = "==0.8.6"
Cycler = "==0.10.0"
Flask = "==2.0.1"
ipython_genutils = "==0.2.0"
Jinja2 = "==3.0.1"
Keras-Preprocessing = "==1.1.2"
Markdown = "==3.2.2"
MarkupSafe = "==2.0.1"
Pillow = "==7.2.0"
Pygments = "==2.10.0"
Werkzeug = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.8"
